Messaging/Before/Queues/Client/Service References/OrderService/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:dm:demos" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:dm:demos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:dm:demos/Imports">
      <xsd:import schemaLocation="http://localhost:9000/Services?xsd=xsd0" namespace="urn:dm:demos" />
      <xsd:import schemaLocation="http://localhost:9000/Services?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_StartPlaceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:StartPlaceOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddOrderItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderItem" />
  </wsdl:message>
  <wsdl:message name="IOrderService_FinishedPlaceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishedPlaceOrder" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IOrderService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartPlaceOrder">
      <wsdl:input wsaw:Action="StartPlaceOrder" message="tns:IOrderService_StartPlaceOrder_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="AddOrderItem">
      <wsdl:input wsaw:Action="AddOrderItem" message="tns:IOrderService_AddOrderItem_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="FinishedPlaceOrder">
      <wsdl:input wsaw:Action="FinishedPlaceOrder" message="tns:IOrderService_FinishedPlaceOrder_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>